<h1>Your Cart</h1>
<% @carted_products.each do |carted_product| %>
  <h2><%= carted_product.product.name %></h2>
  <h2>Quantity: <%= carted_product.quantity %></h2>
  <%= link_to "Delete Product?", "/carted_products/#{carted_product.id}", method: :delete %>
<% end %>

<%= form_tag "/orders", method: :post do %>
  <input type="submit" value="Buy now">
<% end %>