<h1>Add Image for <%= @product.name %></h1>
<%= form_tag "/products/#{@product.id}/images", method: :post do %>
  Image URL: <input type="text" name="url">
  <input type="submit" value="Add Image">
<% end %>